html
{
    font-size: 10px;
	-webkit-touch-callout: none;
		-webkit-user-select: none;
		 -khtml-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
				user-select: none;
}

body
{
    font-family: 'IBM Plex Sans', serif;
    font-weight: 450;
    font-style: normal;
    color: #000;
    background: #000;
    -webkit-font-smoothing: antialiased;
}

#item
{
	position: relative;
    height: auto;
	max-width: 860px;
	margin: auto;
	background:#000;
}

#item .container-mid
{
    position: relative;
    max-width: 860px;
	display: flex;
    overflow: hidden;
}

#item .container-mid .item-place
{
	width: 100%;
	height: 100%;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

#item .container-mid .item-place .item-image
{
    position: relative;
	max-width: 90vw;
	height: auto;
	margin: 0;
}

#item .container-mid .item-place .item-name
{
	font-size: min(4vw, 30px);
	color: #b3b3b3;
	margin: 1vh;
}


#spacer
{
	height: 10vh;
	margin: 0;
	padding: 0;
}

/*++++++++++++++++++++++++++++++++++++++*/
#intro
{
	position: relative;
    height: 90vh;
	margin: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.80), 
								rgba(0, 0, 0, 0.80) ), url("../img/lab.jpg");
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
}

#intro .intro_container-mid
{
    position: relative;
    max-width: 860px;
	margin: auto;
	height: 100vh;
	display: flex;
    align-items: center;
}

#intro .intro-image
{
	position: absolute;
	width: auto;
	height: 89vh;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	opacity: 0.2;
}

#intro-name
{
	font-size: min(8vw, 50px);
	color: #b3b3b3;
	z-index: 20;
	padding: 0;
	
	margin:2vh;
}


#l_lable
{
	font-size: min(6vw, 40px);
	color: #b3b3b3;
	
	margin:2vh;
}

/*--------------------------------------------------------*/

#top-bar
{
	z-index: 1;
    position: sticky;
	top: 0px;
	width: 100%;
	height:10vh;
	margin: 0;
	background-color: #000;
}

#top-bar .social-icons
{
	text-align: center;
	padding: 0;
	margin: auto;
	height:10vh;
}

#top-bar .social-icons ul
{
	padding: 0;
	margin: 0;
	height: 10vh;
}

#top-bar .social-icons li
{
	font-size: min(3vh, 6vw);
    display: inline-table;
    overflow: hidden;
    width: 4em;
    height: 10vh;
    margin: 0;
	text-align: center;
}

#top-bar .social-icons li a
{
	vertical-align: middle;
	display: table-cell;
    color: #b3b3b3;
}
	